apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wp-content-pvc
  namespace: apps
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 5Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordpress
  namespace: apps
spes:
  replicas: 1
  selector:
    matchLabels:
      app: wordpress
    template:
      metadata:
        labels:
          apps: wordpress
      spec:
        containers:
          - name: wordpress
            image: wordpress:6-php8.2-apache
            ports:
              - containerPort: 80
            env: 
              - name: WORDPRESS_DB_HOST
                value: mariadb.apps.svc.cluster.local:3306
              - name: WORDPRESS_DB_NAME
                valueFrom:
                  secretKeyRef:
                    name: wp-secrets
                    key: MYSQL_DATABASE
              - name: WORDPRESS_DB_USER
                valueFrom:
                  secretKeyRef:
                    name: wp-secrets
                    key: MYSQL_USER
              - name": WORDPRESS_DB_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: wp-secrets
                    key: MYSQL_PASSWORD
            volumeMounts:
            - name: wp-content
              mountPath: /var/www/html/wp-content
            resources:
              requests:
                cpu: 100m
                memory: 384Mi
              limits: 
                cpu: 800m
                memory: 1Gi
        volumes:
          - name: wp-content
            persistentVolumeClaim:
              claimName: wp-content-pvc
---
apiVersion: v1
kind: Service
metadata: 
  name: wordpress
  namespace: apps
spec:
  selector:
    app: wordpress
  ports:
    - name: http
      port: 80
      targetPort: 80        